@use "./styles";

#list_container {
  background-color: white;
  margin: 10px 40px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.493);
  color: styles.$very-dark-greyish-blue;

  ul {
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid styles.$light-greyish-blue;
    padding: 10px 15px;

    :hover {
      color: styles.$primary-brightblue;
      cursor: pointer;
    }

    input:checked + label {
      text-decoration: line-through;
    }

    label {
      padding-left: 7px;
    }

    button {
      // display: none;
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer;

      :hover {
        color: yellow;
      }
    }
  }
}

.task_status {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.task_filter {
  margin: 20px 40px;
  padding: 10px 0;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 10px;

  div {
  }

  :hover {
    color: blue;
    cursor: pointer;
  }
}
